.intro {
     color:red;
   background-color:green;
   font-family:courier;
 text-align:left;
     width:50%
   
   
}
   
   div {
    
 color:blue;
 border:10px solid darkgray;

}

   
   .header {
     color:purple;
     font-size: 40px;
     font-family:verdana;
     border:15px dashed yellow; 
}

   
   .content{
     text-align:center;
     background-color: white;
     width:50%
     height:500px;
     font-size:12px;  
     border:20px solid black;
}

   body {
     background-color:gray;
     width:90%;
     500px;
     font-size:12px;
}

   .image {
    width:100%
    dorder:25px dashed brown;
}  
  
     
